<nav class="navbar navbar-light fixed-top">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    
    <div class="d-flex align-items-center justify-content-center">
      <a class="navbar-brand fw-bold">Logo.</a>
      <div class="menus  d-flex align-items-center justify-content-between ms-4" style="width: 500px;">
        <a href="Home">Home</a>
        <a href="#">Services</a>
        <a href="#">Success Stories</a>
        <a href="About">About US</a>
        <a href="#">Contacts</a>
      </div>
    </div>
    <div class="touchBtn">
      <button class="px-3 py-2  rounded-pill">Get in touch<i class="fa-solid fa-caret-right ms-1"></i></button>
    </div>
    
   
  </div>

</nav>

<router-outlet></router-outlet>