<div class="home container-fluid w-100 ">
    
<h1 class="text-center">Innovative Solutions,<br> Tailored to <Span style="color: blue;">You.</Span></h1>
<p class="text-center mt-4 fs-4">Use smart tools that take the grind out of web creation so you can build exceptional, responsive sites</p>
<div class="btnn container-fluid d-flex align-items-center justify-content-center mt-5">
    <button class="text-center text-white getstr-btn px-3 py-3  rounded-pill">Get Started</button>
</div>
<div class="cards w-100 container-fluid d-flex align-items-center justify-content-between my-5">
    <div class="card bg-primary" style="background: url();">

    </div>
    <div class="card">

    </div>
    <div class="card ">

    </div>
    <div class="card ">

    </div>
    <div class="card bg-primary">

    </div>
    
</div>

<div style="height: 90vh;" class="services container-fluid d-flex flex-column align-items-center justify-content-center my-3">

    <h3 class="text-center fs-4">SERVICES</h3>
    <h5 class="fs-2 fw-bold text-center">Taking Your Business to<br> the Next Level</h5>
    <div class="container-fluid service-card d-flex align-items-center justify-content-between my-5">
        <div class="container d-flex align-items-center justify-content-between flex-column">
            <img width="150px" height="150px" src="../assets/Services-card/Component 1.svg" alt="">
            <h3 class="my-3 fs-5">Business plans</h3>
            <p class="px-5 py-3 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima debitis suscipit vel</p>
        </div>
        <div class="container  d-flex align-items-center justify-content-between flex-column">
            <img width="150px" height="150px" src="../assets/Services-card/Component 3.svg" alt="">
            <h3 class="my-3 fs-5">Accounting Services</h3>
            <p class="px-5 py-3 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima debitis suscipit vel </p>
        </div>
        <div class="container  d-flex align-items-center justify-content-between flex-column">
            <img width="150px" height="150px" src="../assets/Services-card/Component 2.svg" alt="">
            <h3 class="my-3 fs-5">Finance Optimization</h3>
            <p class="px-5 py-3 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, voluptatum!  </p>
        </div>
    </div>

</div>
</div>
